body {
    margin: 0;
    padding: 0;
}
#map {
    width: 90%;
    height: 600px;
    margin: 5em auto;
}
#map2 {
    width: 90%;
    height: 600px;
    margin: 5em auto;
}

#map3 {
    width: 90%;
    height: 600px;
    margin: 5em auto;
}

#map4 {
    width: 90%;
    height: 600px;
    margin: 5em auto;
}

.header {
    max-width: 50rem;
    font-family: poppins;
}
h1 {
    text-align: center;
}

.section {
    max-width: 50rem;
    margin: auto;
}
.footer {
    max-width: 50rem;
    margin: 2rem auto; /* vertical margin and horizontal margin */
    text-align: center;
    border-top: solid 1px;
    border-color: hsl(0, 0%, 50%);
}
img {
    max-width: 50rem;
}
h3 {
    font-family: poppins;
}
p {
    font-family: poppins;
    line-height: 1.75em;
}
.footer p {
    font-size: small;
}
a, a:visited {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: black;
}
a:hover {
    color: hsla(0, 0%, 0%, 0.5);
}
a.no-underline {
    text-decoration: none;
}
.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

